[Desktop Entry]
Encoding=UTF-8
Name=Solidar
Comment=Solidar P2P Cryptocurrency
Exec=/usr/bin/solidar-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/solidar128.png
MimeType=x-scheme-handler/solidar;
Categories=Office; Finance;
Name[de_DE]=solidar-qt.desktop
