src/*.exe
src/worldleadcurrency
src/worldleadcurrencyd
src/test_worldleadcurrency
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.worldleadcurrency

# Compilation and Qt preprocessor part
*.qm
Makefile
worldleadcurrency-qt
Worldleadcurrency-Qt.app

# Unit-tests
Makefile.test
worldleadcurrency-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
