src/*.exe
src/solidar
src/solidard
src/test_solidar
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.solidar

# Compilation and Qt preprocessor part
*.qm
Makefile
solidar-qt
Solidar-Qt.app

# Unit-tests
Makefile.test
solidar-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
